<!DOCTYPE html>
<html>
<head>
	<title>OpenWeatherMap for Leaflet</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="SHORTCUT ICON" HREF="static/owm.ico">
	<link rel="stylesheet" type="text/css" href="static/leaflet/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="static/leaflet/leaflet-openweathermap.css" />
	<link rel="stylesheet" type="text/css" href="static/map.css" />
	<script src="static/leaflet/leaflet.js"></script>
	<script src="static/leaflet/Permalink.js"></script>
	<script src="static/leaflet/Permalink.Layer.js"></script>
	<script src="static/leaflet/Permalink.Overlay.js"></script>
	<script src="static/leaflet/leaflet-openweathermap.js"></script>
	<link rel="stylesheet" type="text/css" href="static/leaflet/leaflet-languageselector.css" />
	<script src="static/leaflet/leaflet-languageselector.js"></script>
	<script src="static/map_i18n.js"></script>
	<!-- Marker Cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
	<!-- Icons -->
	<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="static/leaflet.extra-markers.min.css">
</head>
<body>
	
	<div class="container">
		<div class="row">
		  <div class="col-md-12 jumbotron text-center">
			<h1>US Airports and Weather</h1>
			<p>Use the interactive charts below to explore the dataset</p>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-2">
			<!-- <div class="well">
			  <h5>Test Subject ID No.:</h5>
			  <select id="selDataset" onchange="optionChanged(this.value)"></select>
			</div> -->
			<div class="panel panel-primary">
			  <div class="panel-heading">
				<h3 class="panel-title">Weather Info</h3>
			  </div>
			  <div id="sample-metadata" class="panel-body"></div>
			</div>
		  </div>
		  <div class="col-md-10">
			<div id="map"></div>
		  </div>
		</div>
		<!-- <div class="row">
			  <div class="col-md-12">
				<div id="bubble"></div>
			  </div>
			</div> -->
	  </div>
	  <!-- <div class='container'> -->
		<!-- <div class="row">
		  <div class="col-md-12 jumbotron text-center">
			<h1>US Airports and Weather</h1>
			<p>Use the interactive charts below to explore the dataset</p>
		  </div>
		</div> -->
		<!-- <div class='row'>
		  <div class="col-md-12 col-lg-12"> -->
			<!-- <div id="map"></div> -->
		  <!-- </div> -->
		<!-- </div> -->
	  <!-- </div> -->
	<!-- d3 JS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
	<!-- ajax jquery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Marker Cluster JS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <!-- Our JS -->
    <!-- <script type="text/javascript" src="static/config.js"></script> -->
    <script type="text/javascript" src="static/map.js"></script>

</body>
</html>

